
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Fontdiner+Swanky&family=Lilita+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  width: 80%;
  background-color: whitesmoke;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* font-family: "Birthstone", cursive; */
/* font-family: "Fontdiner Swanky", serif; */

article {
  margin: 10px;
}

article>h2 {
  background-color: #F2C1D1;
  color: white;
  font-size: 1.6em;
  text-shadow: 1px 1px 0.5px #D4AF37, 1px 1px 12px black;
  font-family: "Fontdiner Swanky", serif;
  text-align: center;
  padding: 18px;
  margin: 1em 20px;
  border-radius: 6px;
}

article>img {
  float: right;
  /* Coloca la imagen a la derecha y hace que el texto fluya alrededor */
  width: 25%;
  height: auto;
}

article>p {
  text-align: justify;
}

article>p:first-of-type::first-letter {
  font-family:'Times New Roman', Times, serif;
  font-size: 3em;
  /* Aumenta el tamaño para que ocupe varias líneas */
  line-height: 1.5;
  color: white;
  background-color: #81d8d0;
  text-shadow: 0.5px 0.5px 0.5px rgb(224, 120, 45);
  padding: 0 7px;
  float: left;
  /* Hace que el texto fluya alrededor */
  margin-right: 10px;
}

article>p:last-of-type::after {
  content: "";
  display: block;
  width: 100%;
  /* Ajusta el tamaño según necesites */
  height: 50px;
  /* Alto de la imagen separadora */
  background-image: url("../img/divider.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
  /* Espacio entre el párrafo y la imagen */
  background-size: contain;
}

address {
  text-align: right;
  font-family: "Birthstone", cursive;
  color: rgb(24, 69, 233);
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.moraleja {
  width: 80%;
  margin: 0 auto;
  background-color: #555555;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5em;
}

.moraleja::before {
  content: "Moraleja";
  font-family: "Fontdiner Swanky", serif;
  color: #FFE4E1;
  text-shadow: 0.5px 0.5px 0px #F2C1D1;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 1.1em;
  display: block;
  /* Forzamos que la palabra "Moraleja" ocupe toda una línea */
  text-align: center;
  /* Para centrar el texto */
  margin-bottom: 5px;
  /* Espacio entre el título y el párrafo */
}